/* Your custom css code goes here */

.custom-bg {
  background-image: url(../img/hero_bg_2.jpg) !important;
}

.custom-height {
  height: 100vh;
}

.probootstrap-intro h1 {
  font-size: 57px;
  text-align: left;
}

.custom-margin-top {
  margin-top: 200px !important;
}

.custom-btn-shadow {
  box-shadow: 0px 0px rgba(0,0,0,.5);
}

.custom-input {
  box-shadow: 0px 4px rgba(0,0,0,.2);
}

.custom-textarea {
  resize: none;
}

.custom-size-show {
  height: auto !important;
}

.custom-size-show-fixed {
  height: 95px !important;
}

.page-link {
  display: inline-block !important;
}

.figure-wrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.1) !important;
}

.custom-img {
  width: 100%;
}
.margin-custom {
  margin-bottom: 29px !important;
}
.mt0 {
  margin-top: 0 !important;
}

.probootstrap-intro .probootstrap-subtitle .heading-with-icon, .probootstrap-intro .probootstrap-subtitle p,
.probootstrap-intro .probootstrap-subtitle .heading-with-icon, .probootstrap-intro .probootstrap-subtitle ul {
  color: #fff !important;
  font-weight: 100 !important;
  font-family: Montserrat-Regular;
}

.probootstrap-intro .probootstrap-subtitle .heading-with-icon, .probootstrap-intro .probootstrap-subtitle ul li {
  text-align: left !important;
}

.probootstrap-section h1 {
  font-size: 57px;
  color: #7e8890;
  font-family: Montserrat-Regular;
  font-weight: 300;
  line-height: 1.15;
}

.show-page-margin {
  margin-top: 150px !important;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner 
.choices__item.choices__item--selectable {
  padding-top: 12px !important;
}

.s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
  margin-top: 3px !important;
}


/* custom for monserat font */

a {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

@media (max-width: 576px) {
  .custom-margin-top {
    margin-top: 20px !important;
  }
}

@media (min-width: 768px) {
  .custom-margin-top {
    margin-top: 20px !important;
  }
}

@media (min-width: 992px) {
  .custom-margin-top {
    margin-top: 200px !important;
  }
}